src/main/resources/xsd/2_x_x/BaseLogEntry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="https://i-t.io/logging/groovy/2_x_x/Main"
           xmlns="https://i-t.io/logging/groovy/2_x_x/Main"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType abstract="true" name="BaseLogEntry">
        <xs:attribute use="required" name="datetimestamp" type="xs:dateTime"/>
        <xs:attribute use="required" name="millisecondsDelta" type="xs:integer" />
        <xs:attribute use="required" name="depth" type="xs:integer" />
    </xs:complexType>
</xs:schema>