src/main/resources/xsd/2_x_x/Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="https://i-t.io/blackbox/groovy/2_x_x/Main"
           xmlns="https://i-t.io/blackbox/groovy/2_x_x/Main"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Exception">
        <xs:sequence>
            <xs:element name="exceptionStackTrace" type="xs:string"/>
        </xs:sequence>
        <xs:attribute use="required" name="exceptionDateTime" type="xs:dateTime"/>
    </xs:complexType>
</xs:schema>