src/main/resources/xsd/2_x_x/LogTrailer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="https://i-t.io/logging/groovy/2_x_x/Main"
           xmlns="https://i-t.io/logging/groovy/2_x_x/Main"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="LogStatus.xsd"/>
    <xs:complexType name="LogTrailer">
        <xs:attribute use="required" name="dateTime" type="xs:dateTime"/>
        <xs:attribute use="required" type="LogStatus" name="logStatus"/>
        <xs:attribute use="required" type="xs:string" name="currentLogName"/>
        <xs:attribute use="required" type="xs:string" name="nextLogName"/>
    </xs:complexType>
</xs:schema>