src/main/resources/xsd/2_x_x/MethodResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="https://i-t.io/logging/groovy/2_x_x/Main"
           xmlns="https://i-t.io/logging/groovy/2_x_x/Main"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="MethodResult">
        <xs:sequence>
            <xs:element name="methodResultVale" type="xs:string"/>
        </xs:sequence>
        <xs:attribute use="required" name="methodResultClassName" type="xs:string"/>
    </xs:complexType>
</xs:schema>