src/main/resources/xsd/2_x_x/Object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="https://i-t.io/blackbox/groovy/2_x_x/BlackBox.xsd"
           xmlns="https://i-t.io/blackbox/groovy/2_x_x/BlackBox.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Object">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute use="required" name="className" type="xs:string"/>
    </xs:complexType>
</xs:schema>