src/main/resources/xsd/2_x_x/ast/ClassNode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        elementFormDefault="qualified"
        targetNamespace="https://i-t.io/logging/groovy/2_x_x/Main"
        xmlns="https://i-t.io/logging/groovy/2_x_x/Main"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ASTNode.xsd"/>
    <xs:complexType name="ClassNode">
        <xs:complexContent>
            <xs:extension base="ASTNode">
                <xs:attribute use="required" name="getNameWithoutPackage" type="xs:string"/>
                <xs:attribute use="required" name="getPackageName" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>